#contact-wrapper {
    background: var(--card-bg);
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.info {
    font-size: 18px;
    line-height: 1.6;
}

.socials a {
    margin-right: 10px;
    display: inline-block;
    margin-right: 12px;
    color: white;
    opacity: 0.75;
    text-decoration: none;
    transition: 0.25s;
}

.socials a:hover {
    opacity: 1;
    color: var(--accent);
}

.footer-bottom {
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    opacity: 0.65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer {
    background: #1e1e1e;
    color: white;
    margin-top: 60px;
}

.footer-container {
    padding: 15px 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.footer-column {
    width: auto;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--accent);
}

.footer-column p {
    margin: 4px 0;
    font-size: 16px;
    opacity: 0.85;
}

@media (min-width: 768px) {
    .footer-container {
        padding: 15px 100px 0px;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: flex-start;
        gap: 40px;
    }

    .footer-column {
        width: auto;
        flex: 0 0 auto;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        padding: 15px 100px 0px;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: flex-start;
        gap: 40px;
    }

    .footer-column {
        width: auto;
        flex: 0 0 auto;
    }
}
