:root {
    --main-bg: #f9f9f9;
    --card-bg: #ffffff;
    --text: #222;
    --accent: #ffb347;
    --dark: #1e1e1e;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: var(--main-bg);
    color: var(--text);
}

h2 {
    text-align: center;
    font-size: 32px;
    margin: 40px 0 25px;
}